.myword {
  margin-bottom: 5%;
  padding: 10px 15px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin-left: 33%;
  width: 50%;
  background-color: #e6ddd0;
  position: relative;

  border: 2px solid #41403e;}

.flex {
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 10;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;

}

wired-card {
  box-sizing: border-box;
  margin-bottom: 5%;
  margin-left: 15%;
  background-color: #e6ddd0;
  /*white-space: pre-line;*/
  text-align: left;
}


wired-textarea {
  text-align: left;
  font-family: 'chineseBaby', sans-serif;
  font-weight: bold;
}

.letter{
  height: 80%;
  width: 90%;
  display: flex;
  position:relative;
  align-self: center;
}

.send{
  position: relative;

  width: 10%;
  align-self: flex-end;
}

span {
  display: block;
}
