body {
  margin: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d2bf9e;
  font-family: 'chineseBaby', sans-serif;
  font-size: 22px;
  font-display: fallback;
  letter-spacing: 0.05em;
  line-height: 2;
}


/* @font-face {
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: local('Gloria Hallelujah'), local('GloriaHallelujah'), url(fonts/font.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} */

@font-face {
    font-family: "chineseBaby"; /* 名字任意取 */
    src: url("fonts/ZCOOLKuaiLe-Regular.ttf") format("truetype");
    font-style:normal;
    font-weight:normal;
}
